body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px; /* ширина сайта */
    min-height: 100vh;
    margin: 0 auto; /* выравнивание сайта по центру экрана */
}
.header {
    background-color: #ba68c8;
}
.main-menu {
    background-color: #7986cb;
}
.section {
    background-color: #29b6f6;
}
.sidebar {
    background-color: #80cbc4;
}
.footer {
    background-color: #f48fb1;
}