body {
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    box-shadow: 0px 15px 35px 0px #0000001A;
}
.headerContent {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.content {
    display: flex;
    width: 1140px;
    margin: 0 auto;
    flex-direction: column;
}
.contact {
    /* font-family: Montserrat; */
    /* font-size: 18px; */
    /* font-weight: 600; */
    font: 600 18px "Montserrat", "Arial", sans-serif;
    color: #212121;
}
h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 63px 0px 63px 0px;
    font-size: 40px;
    font: 600 40px "Montserrat", "Arial", sans-serif;
    color: #424242;
}
.section {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}
.section-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 196px;
}
.section-item-title {
    margin: 0;
    padding-top: 23px;
    font: 600 18px "Montserrat", "Arial", sans-serif;
    color: #212121;
}
.section-item-text {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font: normal 16px "Montserrat", "Arial", sans-serif;
    color: #424242;
}
hr {
    margin: 0;
    border: none;
    color: #FFB5B5;
    height: 1px;
    background-color: #FFB5B5;
}
.blok2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 101px 0px 101px 0px;
    color: #FF445A;
}
.section-quote {
    margin: 0;
    font: lighter italic 32px/48px "Montserrat", "Arial", sans-serif;
}
.section-quote-author {
    margin: 0;
    font: lighter italic 24px/36px "Montserrat", "Arial", sans-serif;
}
.blok3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-poem {
    display: flex;
    flex-direction: column;
    color: #424242;
    font: normal 18px/27px "Montserrat", "Arial", sans-serif;
    padding: 88px 0px 88px 0px;   
}
.flowers {
    padding-top: 79px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #FFB5B5;
    color: #fff;
    font: normal 18px/27px "Montserrat", "Arial", sans-serif;
}